<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lunarCalendarYears</key>
	<array>
		<string>甲子</string>
		<string>乙丑</string>
		<string>丙寅</string>
		<string>丁卯</string>
		<string>戊辰</string>
		<string>己巳</string>
		<string>庚午</string>
		<string>辛未</string>
		<string>壬申</string>
		<string>癸酉</string>
		<string>甲戌</string>
		<string>乙亥</string>
		<string>丙子</string>
		<string>丁丑</string>
		<string>戊寅</string>
		<string>己卯</string>
		<string>庚辰</string>
		<string>辛巳</string>
		<string>壬午</string>
		<string>癸未</string>
		<string>甲申</string>
		<string>乙酉</string>
		<string>丙戌</string>
		<string>丁亥</string>
		<string>戊子</string>
		<string>己丑</string>
		<string>庚寅</string>
		<string>辛卯</string>
		<string>壬辰</string>
		<string>癸巳</string>
		<string>甲午</string>
		<string>乙未</string>
		<string>丙申</string>
		<string>丁酉</string>
		<string>戊戌</string>
		<string>己亥</string>
		<string>庚子</string>
		<string>辛丑</string>
		<string>壬寅</string>
		<string>癸卯</string>
		<string>甲辰</string>
		<string>乙巳</string>
		<string>丙午</string>
		<string>丁未</string>
		<string>戊申</string>
		<string>己酉</string>
		<string>庚戌</string>
		<string>辛亥</string>
		<string>壬子</string>
		<string>癸丑</string>
		<string>甲寅</string>
		<string>乙卯</string>
		<string>丙辰</string>
		<string>丁巳</string>
		<string>戊午</string>
		<string>己未</string>
		<string>庚申</string>
		<string>辛酉</string>
		<string>壬戌</string>
		<string>癸亥</string>
	</array>
	<key>lunarCalendarMonths</key>
	<array>
		<string>正月</string>
		<string>二月</string>
		<string>三月</string>
		<string>四月</string>
		<string>五月</string>
		<string>六月</string>
		<string>七月</string>
		<string>八月</string>
		<string>九月</string>
		<string>十月</string>
		<string>冬月</string>
		<string>腊月</string>
	</array>
	<key>lunarCalendarDays</key>
	<array>
		<string>初一</string>
		<string>初二</string>
		<string>初三</string>
		<string>初四</string>
		<string>初五</string>
		<string>初六</string>
		<string>初七</string>
		<string>初八</string>
		<string>初九</string>
		<string>初十</string>
		<string>十一</string>
		<string>十二</string>
		<string>十三</string>
		<string>十四</string>
		<string>十五</string>
		<string>十六</string>
		<string>十七</string>
		<string>十八</string>
		<string>十九</string>
		<string>二十</string>
		<string>廿一</string>
		<string>廿二</string>
		<string>廿三</string>
		<string>廿四</string>
		<string>廿五</string>
		<string>廿六</string>
		<string>廿七</string>
		<string>廿八</string>
		<string>廿九</string>
		<string>三十</string>
	</array>
</dict>
</plist>
